<footer class="main-footer">
    <nav class="navigation">
        <ul>
            {{#navigation.footer}}
            <li class="{{className}}">
                <a href="{{path}}">{{title}}</a>
            </li>
            {{/navigation.footer}}
        </ul>
    </nav>
</footer>