<tr class="additional-info">
    <td colspan="8">
        <div class="activity-details">
            <h2 class="activity-name">{{activity_name}}</h2>
            <ul class="activity-actions">
                <li><a data-id="{{_id}}" class="edit-activity">Edit</a></li>
            </ul>
        </div>
    </td>
</tr>