// Typography
$globalFont: 'Open Sans', Arial, Helvetica, sans-serif;
$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

// Colors
$light-gray: #efefef;
$mid-light-gray: #ebebeb;
$gray: #bebebe;
$dark-gray: #818c94;

$light-blue: #c7dee9;
$core-blue: #006599;