table {
    background: #fff;
    width: 100%;
}

th {
    background: $dark-gray;
    color: #fff;
    font-weight: $semibold;
}

th,
td {
    font-size: 12px;
    max-height: 30px;
    line-height: 30px;
    padding: 0 7px;
    border-right: 1px solid $gray;

    &:last-of-type {
        border-right: none;
    }
}

tbody {
    .activity-data,
    .meal-list,
    &.meal-list {
        &.even,
        &.odd,
        tr {
            td,
            > td {
                background: #fff;
                color: $dark-gray;

                &.warning {
                    color: #b94a48;
                    background: #efcbcc;

                    &:before {
                        display: inline-block;
                        content: '\2193';
                        margin-right: 5px;
                        font-weight: 700;
                        font-size: 15px;
                        position: relative;
                        top: -2px;
                    }

                    &.high {
                        &:before {
                            content: '\2191';
                            margin-right: 5px;
                            top: 0;
                        }

                    }
                }

                &.details {
                    width: 150px;
                    text-align: center;

                    a,
                    .edit_meal {
                        cursor: pointer;
                        display: inline-block;

                        &:hover {
                            text-decoration: underline;
                        }

                        &:after {
                            content: "";
                            display: inline-block;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 4px 0 4px 5px;
                            border-color: transparent transparent transparent $dark-gray;
                            margin-left: 5px;
                        }
                    }

                }
            }
        }
    }


    tr {
        &.open {
            + .additional-info {
                .additional-info td {
                    display: none;
                }


                .open {
                    + .additional-info {

                        table {
                            margin: 15px 0 0;
                        }

                        td{
                            display: table-cell;
                        }
                    }
                }
            }

            + .additional-info {
                table {
                    margin-bottom: 20px;
                }

                th,
                td{
                    display: table-cell;
                    text-align: left;
                }

                .ride-details {
                    display: block;
                }
            }
        }

        &.open,
        &.open.even {
            td {
                background: $light-blue;

                &.warning {
                    color: #b94a48;
                    background: #efcbcc;
                }
            }
        }
    }

    .activity-data,
    .meal-list {
        &.even {
            > td {
                background: $mid-light-gray;
            }
        }
    }

    .additional-info {
        td {
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
        }

        td,
        .ride-details {
            display: none;
        }
    }
}

tfoot {
    tr:first-of-type {
        td {
            border-top: 1px solid $dark-gray;
        }
    }

    .null-row {
        border: none;
        background: $dark-gray;
    }

    .label {
        background: $dark-gray;
        color: #fff;
        font-weight: $semibold;
    }

    &.totals {
        td {
            background: #000;
            color: #fff;

            &.header_cell {
                font-weight: $semibold;
            }
        }
    }
}

.expand-row {
    width:50px;
    padding: 0;

    button {
        width: 100%;
        height: 100%;
        text-indent: -9999px;
        position: relative;

        &:before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 0 4px 5px;
            border-color: transparent transparent transparent $dark-gray;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -2px;
            margin-left: -2px;
        }
    }

    button:hover:before,
    .open & button:before {
        border-width: 5px 4px 0 4px;
        border-color: $dark-gray transparent transparent transparent;
        margin-top: 0;
        margin-left: -4px;
    }
}