<section class="main-content">
    <h1>Graphs!</h1>
    <div id="chart" style="height: 450px;"><svg></svg></div>
    <div id="days_chart" style="height: 450px;"><svg></svg></div>
    <div id="pie" style="height: 450px; width: 450px"><svg></svg></div>
</section>

<var class="js_components hidden">
    graphs
</var>