<div class="food_selection_component">
    <div class="group">
        <label for="search_foods">Search Foods </label>
        <input id="search_foods" type="text" class="search_foods inputText" value="" />
    </div>
    <div id="foodlistitems" class="food_selection_list">
        {{> foodlistitems}}
    </div>
</div>

{{^editFood}}
<button class="select_food btn pill gray pull-right" type="button">Add Food</button>
{{/editFood}}
