<form class="new-activity-form" id="newRecipeForm" action="{{action}}" method="POST">
    <div class="groupset">
        <div id="recipe-form-data-fields">
            {{> newFormDataFields}}
        </div>

        <div class="group">
            <button class="btn gray pill pull-right" id="save_this_recipe" disabled="disabled">Save Recipe</button>
            {{#deleteAction}}
            <button type="button" class="btn gray pill pull-right" id="delete_recipe">Delete</button>
            {{/deleteAction}}
            <button type="button" class="btn gray pill pull-right" id="close_recipe_form">Cancel</button>
            <input type="hidden" name="activityID" value="{{_id}}" />

            <div class="health-messaging"></div>
        </div>
    </div>
</form>