<form class="new-activity-form" id="dailyTargetForm" action="{{action}}" method="POST">
    <div class="groupset">
        <div id="form-data-fields">
            {{> dataFields}}
        </div>

        <div class="group">
            <button class="btn gray pill pull-right" id="save_targets">Save Targets</button>
            <button type="button" class="btn gray pill pull-right" id="close_targets">Cancel</button>

            <div class="activity-messaging"></div>
        </div>
    </div>
</form>