<tr class="additional-info">
    <td colspan="8">
        <div class="ride-details">
            <h2 class="ride-name">{{ride_name}}</h2>
            <ul class="ride-actions">
                <li><a data-id="{{_id}}" class="edit-ride">Edit</a></li>
                <li><a data-id="{{_id}}" class="duplicate-ride">Duplicate</a></li>
            </ul>
        </div>
    </td>
</tr>