{{#yearList}}
    <select id="yearSelection" class="select select-sm">
    {{#years}}
        <option value="{{year}}/{{month}}"{{#selected}} selected="selected"{{/selected}}>{{year}}</option>
    {{/years}}
    </select>
{{/yearList}}